<div class="main">
  <h1>sTuped cOAch sez:</h1>
  <div class="content">
    <p><%= @question %></p>
    <p>- You</p>
  </div>
  <div class="content">
    <p><%= @answer %></p>
    <p>- Stupid Coach</p>
  </div>

  <%= link_to "<<", "/ask.html" %>
</div>
