<div class="main">
  <h1>axE sTup1d cOAch ?</h1>
  <form action="/answer">
    <input type="text" name="question" class="ask-box">
    <input type="submit" value="go" class="ask-button">
  </form>
</div>

